body{
    font-family: 'Poppins',sans-serif;
    margin: 0 ;
}

.intro-text{
     grid-row-start:2;
     grid-row-end:3;
     grid-column-start: 2 ;
     grid-column-end: 3;
     text-align: justify;
}
.devImg{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 3 ; 
    margin-right: 80px;
    margin-left: 0 px;
}
.div-container{
    display:grid;
    background-image:url(images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(244, 239, 239),white);
    margin-bottom: 100px ;
}

.hardyImg{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:2 ;
    grid-row-end:3 ;
}

.heading{
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:1 ;
    grid-row-end:2 ;
}

.link{
    color:white;
    font-size:20px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;

}

.div-container2{
    display: grid;
    text-align:center;
    background-color: #fffee9;
    margin-left: 150px ;
    margin-right: 150px ;
    margin-bottom: 60px;
    padding: 110px;
}

.name{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end: 2 ;
}

.email{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end:3 ;
}

.aboutMe{
    grid-row-start: 1;
    grid-row-end: 2 ;
    grid-column-start: 1;
    grid-column-end: 5 ;
    margin-bottom: 20px ;
    padding-top: 60px ;
    padding-right: 50px;
    padding-left: 50px;
}

.location{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 4;
    grid-column-end:5 ;

}

.specialty{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

footer p{
    text-align: center;
    font-weight: 100px;
    font-size: small;
}

.doing{
    display: grid;
    margin: 150px;
    column-gap: 100px;
}

.doing div{
    box-shadow: 10px 5px 5px whitesmoke;
    padding: 20px;
    border: 5px solid white;
}

.doing div p{
    line-height: 30px;
}

#java{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#react{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

}
#mongo{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;

}
#node{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;

}

